/server/public/storage
/server/storage/*.key
/server/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
/server/.idea
/server/.vscode

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/server/dist
/server/tmp
/server/out-tsc
# Only exists if Bazel was run
/serverbazel-out

# dependencies
/server/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/server/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/server/.angular/cache
/server/.sass-cache
/server/connect.lock
/server/coverage
/server/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/server/typings

# System Files
.DS_Store
Thumbs.db
