<mat-toolbar>
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>

  <div class="d-flex d-flex-r flex-align-center">
    <mat-icon class="ml-20 pr-10">school</mat-icon>
    <span>Clyde School</span>
  </div>

  <span class="spacer"></span>

  <div class="d-flex d-flex-r flex-align-center">
    <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>mark_chat_unread</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>notifications</mat-icon>
    </button>
    <div class="m-10 vl"></div>
    <div class="d-flex d-flex-r flex-align-center" >
      <img src="https://secureimages.allrecipes.com/userphotos/250x250/8531051.jpg" alt="" class="nav_img">
      <span>Jules BILITIK</span>
      <button mat-icon-button>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
